h1 {
    color: blue;
}

p {
    color: chartreuse;
    font-size: 18px;
}

/* Styling text example */
/* h2 {
    font-size: 40px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
    text-align:center;
} */

/* combining selectors example  */

/* h1, h2, h3, h4 {
    font-family: sans-serif;
    text-transform: uppercase;
    color: cornflowerblue;
}

footer p {
    font-size: 16px;
} */